/* Global Style */
* {
  font-family: "Arial";
}

body {
  background-color: #E0E0DD;
  margin: 2%;
}

/* Top Banner Styles */
.header {
  font-size: 30px;
  display: inline;
}

.header-container {
  display: flex;
  justify-content: space-between;
}


.icon {
  vertical-align: middle;
}

.link {
  padding-left: 5px;
}

.cart-toggle {
  text-decoration: none;
  padding: 20px 20px;
}

.cart-toggle:hover {
  color: #407FC0
}

/* Product Styles */

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #EDEDED;
  border-radius: 5px;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin: 5%;
}

.product-img {
  height: 100%;
  border-radius: 5px 0 0 5px;
}

.product-banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-title {
  font-size: 38px;
}

.add-to-cart {
  background-color: #5E97D1;
  height: 41px;
  width: 139px;
  border-radius: 50px;
  color: #EDEDED;
}

.add-to-cart:hover {
  background-color: #407FC0;
}

.add-to-cart:disabled {
  background-color: #5E97D166;
}

.remaining {
  color: #ADADAD;
}
